<div class="col-lg-2"></div>
<div class="col-lg-8" style="margin-top: 5rem;">
<%= form_for :session, :url => session_path do |form| %>
  <div class="text_field">
    <%= form.label :who, 'Email', :class => 'form__label' %>
    <%= form.text_field :who, :class => 'form__input' %>
  </div>
  <div class="password_field">
    <%= form.label :password, t('activerecord.attributes.session.password'), :class => 'form__label' %>
    <%= form.password_field :password, :class => 'form__input' %>
  </div>
  <div class="form_bottom">
    <%= form.submit 'Sign in', :data => {:disable_with => 'Signing in...'}, :class => 'btn btn-primary' %>
  </div>
<% end %>

<div class="form_links sign_in_links t-body">
  <p><%= link_to t('.forgot_password'), new_password_url %></p>
</div>
</div>
<div class="col-lg-2"></div>
