<% if @dated_incidents %>
    <% @dated_incidents.each do |date, incidents| %>
        <div class="incident-group-date"><%= date.strftime('%e %B %Y') %></div>
        <% if incidents && incidents.any? %>
            <% incidents.each do |i| %>
                <% if !i.blank? && visible(i) %>
                    <% cache_if !signed_in?, i do %>
                        <div class="incident-block">
                          <%= link_to link_to_incident(i.id, 'view') do %>
                          <span class="incident-name text-<%= i.convert_to_level %>"><%= i.name %></span><% end %><span class="incident-component text-<%= i.convert_to_level %>"><%= i.component %></span>
                          <% e = i.events.last %>
                          <hr class="event-hr"/>
                          <p class="incident-description"><b><%= e.status %></b>- &nbsp;<%= markdown(e.message) %></p>

                          <p class="incident-updated-at"><%= e.updated_at.strftime('%b %e, %H:%M %Z') %></p>

                          <%= render :partial => 'shared/incident_controls' , locals: {incident: i}%>
                        </div>
                    <% end %>
                <% else %>
                    <%= render partial: 'pages/nothing' %>
                <% end %>
                <hr class="hr-top"/>
            <% end %>
        <% else %>
            <%= render partial: 'pages/nothing' %>
        <% end %>
    <% end %>

<% else %>
    <%= render partial: 'pages/nothing' %>
<% end %>
