<% if incidents.any? %>
    <h2 class="text-center"><%= active ? 'Current' : 'Past' %> <%= 'incident'.pluralize(incidents.length) %></h2>
<% end %>

<%#  The number of incidents we're showing. %>
<% count = active ? Incident.count : 5 %>


<% incidents.first(count).each do |i| %>
    <% cache_if(!signed_in?, i) do %>
        <div class="incident-block">
          <p class="incident-date"><span class="inner-date"><%= i.updated_at.strftime('%e %b, %Y') %></span></p>

          <%= link_to link_to_incident(i.id, 'view') do %>
              <span class="incident-name text-<%= i.convert_to_level %>"><%= i.name %></span>
          <% end %>

          <span class="incident-component text-<%= i.convert_to_level %>"><%= i.component %></span>

          <ul class="timeline">
            <% # Sets the default value for timeline's li child
               @inverted = false
            %>
            <% all_events(i).each do |e| %>
                <% cache_if !signed_in?, e do %>
                    <li class="<%= timeline_class(@inverted) %>">
                      <div class="timeline-panel">
                        <div class="event-title timeline-title"><%= markdown(e.status) %></div>
                        <div class="timeline-body">
                          <p class="event-message"><%= markdown(e.message) %></p>

                          <p class="incident-updated-at"><%= e.updated_at.strftime('%b %e, %H:%M %Z') %></p>
                        </div>
                      </div>
                    </li>
                    <% # Flip @inverted to make the other event appear across the timeline.
                       @inverted = !@inverted %>
                <% end %>
            <% end %>
          </ul>

          <%= render :partial => 'shared/incident_controls', locals: {incident: i} %>

        </div>
    <% end %>
<% end %>
