<% if incidents.any? %>
    <h2 class="text-center"><%= active ? 'Current' : 'Past' %> <%= 'incident'.pluralize(incidents.length) %></h2>
<% end %>

<%#	The number of incidents we're showing. %>
<%# 1073741823 is the biggest Fixnum we have. %>
<% count = active ? 1073741823 : 5 %>

<% incidents.first(count).each do |i| %>
    <% cache_if(!signed_in?, i) do %>
        <div class="incident-block">
          <p class="incident-date"><span class="inner-date"><%= i.updated_at.strftime('%e %b, %Y') %></span></p>

          <%= link_to link_to_incident(i.id, 'view') do %>
          <span class="incident-name text-<%= i.convert_to_level %>"><%= i.name %>
          <% end %>

            <% if signed_in? && active %><%= link_to link_to_incident(i.id, 'deactivate') do %>
                <button class="btn btn-success deactivate-button btn-xs admin-button">Deactivate incident</button>
            <% end %>
          </a>
          <% end %>
          </span>

          <span class="incident-component text-<%= i.convert_to_level %>"><%= i.component %></span>

          <% all_events(i).each do |e| %>
              <% cache_if !signed_in?, e do %>
                <hr class="event-hr"/>
                <p class="incident-description"><b><%= e.status %></b>- &nbsp;<%= e.message %></p>

                <p class="incident-updated-at"><%= e.updated_at.strftime('%b %e, %H:%M %Z') %></p>
              <% end %>
          <% end %>

          <%= render :partial => 'shared/incident_controls' , locals: {incident: i}%>

        </div>
    <% end %>
<% end %>