<% if inactive_incidents.any? %><h2 class="text-center">Past Incidents</h2>
<% end %>
<% inactive_incidents.first(5).each do |i| %>
    <% cache_if(!signed_in?, i) do %>
        <div class="incident-block">
          <p class="incident-date"><span class="inner-date"><%= i.updated_at.strftime('%e %b, %Y') %></span></p>
          <span class="incident-name text-<%= i.convert_to_level %>"><%= i.name %></span><span class="incident-component text-<%= i.convert_to_level %>"><%= i.component %></span>
          <% all_events(i).each do |e| %>
              <hr class="event-hr"/>
              <p class="incident-description"><b><%= e.status %></b>- &nbsp;<%= e.message %></p>

              <p class="incident-updated-at"><%= e.updated_at.strftime('%b %e, %H:%M %Z') %></p>
          <% end %>

          <% if signed_in? %>
              <a href="/incidents/<%= i.id %>">
                <button class="btn btn-warning btn-sm admin-button">Update Incident</button>
              </a>
              <a href="/incidents/delete/<%= i.id %>" data-confirm="Are you sure? Deleting an incident is irreversible.">
                <button class="btn btn-danger btn-sm admin-button">Delete Incident</button>
              </a>
          <% end %>
        </div>
    <% end %>
<% end %>