<!DOCTYPE html>
<html>
<head>
  <title><%= full_title %></title>
  <% # Favicon that reflects the current service status
     @favicon_path_svg = active_incidents.blank? ? "#{Statusify.app_url}/up.svg" : "#{Statusify.app_url}/down.svg"
     @favicon_path_png = active_incidents.blank? ? "#{Statusify.app_url}/up.png" : "#{Statusify.app_url}/down.png"
  %>
  <!-- Some browsers may not support SVG favicons. Give them PNGs -->
  <%= favicon_link_tag(@favicon_path_png) %>
  <%= favicon_link_tag(@favicon_path_svg) %>
  <%= render :partial => 'shared/head' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<%= render :partial => 'shared/navigation' %>
<%= render :partial => 'shared/flash' %>

<ul class="col-md-2 col-sm-12 col-xs-12 dashboard-buttons">
  <li id="new-incident-btn"><%= link_to new_incident_path do %><i class="fa fa-exclamation-triangle fa-5x"></i><br />New Incident<% end %></li>
  <li id="history-btn"><%= link_to history_path do %><i class="fa fa-history fa-5x"></i><br />Incident History<% end %></li>
</ul>

<div class="col-md-10 col-sm-12 col-xs-12">
  <h1 align="center">Dashboard</h1>
  <%= yield %>
</div>

<%= render :partial => 'shared/footer' %>
</body>
</html>
